<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Welcome to Flyr</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="public/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="public/css/bootstrap-theme.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="public/js/bootstrap.min.js"></script>
	<style>
		#container
		{
			width: 900px;
			padding: 0;
			margin: 0 auto;
		}
	</style>
</head>
<body>
	{{ a | abs }} - {{ b | capitalize }}
</body>
</html>